:host{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img{
  border-radius: 100%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 3rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

h1{
    font-family: 'Mountains of Christmas', serif;
    color: white;
    font-size: 70px;
    text-shadow: 3px 2px 7px rgba(0,0,0,0.48);
}

div{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.card
{
    position: absolute;
    padding: 20px;
    background: rgba(255, 255, 255, 0.67);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

:root {
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: white;
    --select-bg: rgba(255, 255, 255, 0.2);
  }

  * {
    box-sizing: border-box;
  }

  select
  {
    padding: 10px;
    width: 100%;
    margin-top: 3rem;
    text-align: center;
  }

  button{
    position: absolute;
    bottom: 10px;
    right: 10px;
  }