<img (error)="handleImageError()" #userImage class="animate__animated animate__bounceInLeft" src="../../assets/users/unknown.jpeg" alt="">
<h1 class="animate__animated animate__bounceInDown">Who are you?</h1>

<select (change)="onNameSelected($event)" class="christmas-button animate__animated animate__bounceInUp" name="" id="">
    <option selected value="0">Click here to select</option>
    @for(name of names.sort(); track name )
    {
        <option value={{name}}>{{name}}</option>
    }
</select>


<button *ngIf="selectionValid" (click)="onNextClick()" class="christmas-button animate__animated animate__bounceInRight">Next</button>

<app-confetti #confetti></app-confetti>