:host
{
    display: inline;
    color: white;
    text-shadow: 3px 2px 7px rgba(0,0,0,0.48);
    position:absolute;
    top: -6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px 0 10px 0;
}

h3,p {
    font-family: "Mountains of Christmas", serif;
    font-weight: 800;
}

h3{
    font-size: 20px;

}

p{
    font-size: 16px;
}