<div [class.card-fade-out]="fadeOut"  class="quote-container">
    <i [class.pin-pull]="selected" [class.pin-taken]="selected" class="pin"></i>


    <blockquote [class.card-flip]="selected" [class.card-flipped]="flipped() === true" class="note yellow">
        <img class="gift" src="assets/gift.webp" alt="" srcset="">
        <img (error)="handleUserImageError()" *ngIf="flipped() === true" class="userImage" [src]="userImageSrc" alt="" srcset="">
        <cite *ngIf="flipped() === false" class="author">A very nice colleague</cite>
        <h2 *ngIf="flipped() === true">{{name}}</h2>
      </blockquote>
  </div>