h1{
    font-family: 'Mountains of Christmas', serif;
    color: white;
    font-size: 70px;
    text-shadow: 3px 2px 7px rgba(0,0,0,0.48);
    text-align: center;
}
p{
    margin-top: 2em;
    font-family: 'Mountains of Christmas', serif;
    font-size: 25px;
    text-align: center;
}